.footer {
  background-color: var(--container-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__container {
  padding: 2rem 0 6rem;
  
}


.footer__title,
.footer__link {
  color: var(--title-color);
}

.footer__title {
  text-align: center;
  margin-bottom: var(--mb-2);
  font-size: 1.75rem;
}

.footer__link {
  margin-right: 1rem;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__link:hover {
  color: var(--title-color-dark);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: var(--mb-2);
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}


.footer__social_link {

  background-color: var(--title-color);
  color: var(--container-color);
  font-size: 1.125rem;
  padding: 0.4rem;
  display: inline-flex;
  border-radius: 0.50rem;
  transition: 0.1s; 
}


.footer__social_link:hover {
  background-color: #ffb100;
  color: var(--title-color);
  
}

.footer__copy {
  display: block;
  margin-top: 4.5rem;
  color: var(--title-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

.highlight_color_yellow {
  color: #ffb100;
  font-size: 1.75rem;
}

.highlight_color_green {
  color: #002e06;
  font-size: 1.75rem;
}


/*====== BREAKPOINTS =====*/

 
@media screen and (max-width: 992px) {
  .footer__social_link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  .footer__title {
    font-size: 1.50rem;
  }

  .highlight_color {
    color: #ffb100;
    font-size: 1.50rem;
  }

  .highlight_color_green {
    color: #002e06;
    font-size: 1.50rem;
  }
 }




 @media screen and (max-width: 768px) {
  
  .footer__title {
    font-size: 1.50rem;
  }

  .highlight_color_yellow{
    color: #ffb100;
    font-size: 1.50rem;
  }

  .highlight_color_green {
    color: #002e06;
    font-size: 1.50rem;
  }

 }

 @media screen and (max-width: 576px) {
  .footer__title {
    font-size: 1.50rem;
  }

  .highlight_color_yellow {
    color: #ffb100;
    font-size: 1.50rem;
  }

  .highlight_color_green {
    color: #002e06;
    font-size: 1.50rem;
  }

 }


 @media screen and (max-width: 350px) {
  .footer__title {
    font-size: 1.25rem;
  }

  .highlight_color_yellow {
    color: #ffb100;
    font-size: 1.25rem;
  }

  .highlight_color_green {
    color: #002e06;
    font-size: 1.25rem;
  }
 }


